html,
body,
#app,
#app>div,
main,
main>div {
	height: 100%;
	font-size: 14px;
	background-color: #fff;
	padding: 0;
	margin: 0;
}

.btn,
.btn-flat {
	text-transform: none!important;
	line-height: 2.65;
	i:not(.left) {
		line-height: 0;
		vertical-align: middle;
	}
	i.left {
		line-height: 2;
	}
}

canvas, video {
	border-radius: 4px;
}

@media screen and (max-width: 600px) {
	.slider-from-left {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
	
	.slider-from-right {
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	
	.slide-from-left {
		animation: slide-in 0.35s forwards;
		-webkit-animation: slide-in 0.35s forwards;
	}
	
	.slide-from-right {
		animation: slide-in 0.35s forwards;
		-webkit-animation: slide-in 0.35s forwards;
	}
		
	@keyframes slide-in {
		100% { transform: translateX(0%); }
	}
	
	@-webkit-keyframes slide-in {
		100% { -webkit-transform: translateX(0%); }
	}
}

.modal {
    .modal-footer {
        .btn,
        .btn-flat {
            margin: 2px;
        }
    }
}

@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0.4;}
	100% {opacity: 1;}
}